@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;900&display=swap");
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  display: block;
  width: 100%;
  z-index: 2;
}

header {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 40vh;
  background-image: url(./images/image-hero-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 50%;
  font-size: 1.5rem;
  padding-left: 0.5em;
  margin: 0.7em;
}

header a {
  display: flex;

  align-items: flex-start;

  justify-content: flex-end;
  width: 50%;
  max-height: 30px;
  outline: none;
  padding: 1em;
  z-index: 4;
}

header a img {
  padding: 0.5em;
  width: 20px;
}

header ul {
  display: none;
  width: 90%;
  padding: 0;
  left: 50%;
  top: 15%;

  transform: translate(-50%, -15%);
  background-color: #fff;

  box-shadow: 0 0 0.5em #201e1e;
  border-radius: 10px;
  position: absolute;
  z-index: 4;
}

header ul li {
  width: 100%;
  border-bottom: 0.5px solid rgba(230, 222, 222, 0.815);
}

header ul li a {
  color: #000;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  text-align: left;
  display: block;
  padding: 1.5em;
}

header ul li:last-child {
  border: none;
}
.content-section {
  display: flex;

  flex-direction: column;

  align-items: center;
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 1.5em;
  margin-top: -4em;
  margin-bottom: 2em;
  background-color: #fff;

  box-shadow: 0 0 0.3em rgba(77, 69, 69, 0.425);
  border-radius: 10px;
}

.content-section > img {
  margin-top: -2.5em;
}
.content-section > h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  display: block;
  width: 100;
}
.content-section > p {
  text-align: center;
  color: #777;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  display: block;
  line-height: 1.5;
  width: 100%;
}
.content-section .mark-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;
}
.content-section .mark-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: none;
}
.content-section .mark-btn button:first-child {
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
  width: 40%;
  padding: 1.5em;
  background-color: #3ab5aa;
}
.content-section .mark-btn button:last-child {
  width: auto;
  background-color: rgb(240, 229, 229);
}
.content-section.normal-content {
  margin-top: 0;
}
.content-section.normal-content .stats {
  width: 100%;
  display: flex;
}
.content-section.normal-content h2 {
  color: #000;
  font-family: "Commissioner", sans-serif;
  font-weight: bolder;
  text-align: center;
  display: block;
  width: 100%;
}
.content-section.normal-content h2 span {
  color: #c4afaf;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  width: 100%;
  padding-top: 0.5em;
}
.content-section.normal-content > hr {
  width: 30%;
  border: none;
  border-top: 0.1px solid rgba(219, 210, 210, 0.692);
  background-color: transparent;
}

.content-section.normal-content .progress {
  width: 90%;
  position: relative;
  height: 20px;
  margin: auto;
  margin-bottom: 1em;
  background-color: #ebe5e5;
  border-radius: 30px;
}
.content-section.normal-content .progress::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 20px;
  background-color: #3bb4ad;
  border-radius: 30px;
}
.content-section.about h2,
.content-section.about p {
  text-align: left;
  line-height: 1.5;
}

.content-section.about .about-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-top: 1em;

  padding: 1em;
  border: 1px solid rgba(66, 62, 62, 0.337);
  border-radius: 15px;
}

.content-section.about .about-inner h2 {
  font-size: 1rem;
  display: flex;
}

.content-section.about .about-inner h2 span {
  text-align: right;
  color: #3bb4ad;
}

.content-section.about .about-inner h2 {
  font-size: 1rem;
}

.content-section.about .about-inner .reward {
  width: 100%;
  border: 1px solid black;
  padding: 2;
}

.content-section.about .about-inner .reward h4 {
  display: flex;

  align-items: center;
  color: black;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  text-align: left;
  margin: 0.1em;
  font-size: 2.5rem;
}

.content-section.about .about-inner .reward h4 span {
  color: #998787;
  padding-left: 0.5em;
  font-size: 1rem;
}

.content-section.about .about-inner .reward button {
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  text-align: center;
  float: right;
  display: block;
  padding: 1.5em;
  margin-top: 1em;
  width: 50%;
  border-radius: 30px;
  background-color: #3ab5aa;
  border: none;
}

@media only screen and (max-width: 375px) {
  .content-section .mark-btn {
    width: 100%;
  }
  .content-section .mark-btn button {
    border-radius: 20px;
  }
  .content-section .mark-btn button:first-child {
    font-size: 0.8rem;
    width: 50%;
    padding: 1.5em;
    background-color: #3ab5aa;
  }

  .content-section .mark-btn button:last-child {
    margin-right: 6rem;
  }
}
