@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;900&display=swap");
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  display: block;
  width: 100%;
  z-index: 2;
}

.navigation {
  margin: 0;
  width: 100%;
  min-height: 40vh;
  background-image: url(./images/image-hero-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #fff;
  background: #262626;
  text-decoration: none;
}
nav ul li a {
  background: transparent;
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #39a6b4;
  color: #ffffff;
}
.navbar-dropdown li a {
  background: #2581dc;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " \025BE";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.navbar-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 55px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
    font-family: "Commissioner", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  .navbar-dropdown {
    position: static;
  }
  @media screen and (min-width: 800px) {
    .nav-list {
      display: block !important;
    }
  }
  #navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #navbar-toggle span,
  #navbar-toggle span:before,
  #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #navbar-toggle span:before {
    top: -10px;
  }
  #navbar-toggle span:after {
    bottom: -10px;
  }
  #navbar-toggle.active span {
    background-color: transparent;
  }
  #navbar-toggle.active span:before,
  #navbar-toggle.active span:after {
    top: 0;
  }
  #navbar-toggle.active span:before {
    transform: rotate(45deg);
  }
  #navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

/* header a {
  display: flex;

  align-items: flex-start;

  justify-content: flex-end;
  width: 50%;
  max-height: 30px;
  outline: none;
  padding: 1em;
  z-index: 4;
} */

/* header a img {
  padding: 0.5em;
  width: 20px;
} */
/* header ul {
  display: flex;
  color: #fff;
  width: 90%;
}

header ul li {
  width: 100%;
  border-bottom: 0.5px solid rgba(230, 222, 222, 0.815);
} */

.content-section {
  display: flex;

  flex-direction: column;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  align-items: center;
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 1.5em;
  margin-top: -4em;
  margin-bottom: 2em;
  background-color: #fff;

  box-shadow: 0 0 0.3em rgba(77, 69, 69, 0.425);
  border-radius: 10px;
}

.content-section > img {
  margin-top: -2.5em;
}
.content-section > h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  display: block;
  width: 100;
}
.content-section > p {
  text-align: center;
  color: #777;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  display: block;
  line-height: 1.5;
  width: 100%;
}
.content-section .mark-btn {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.content-section .mark-btn button {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  border: none;
}

.content-section .mark-btn button:first-child {
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
  width: 60%;
  padding: 1.5em;
  background-color: #3ab5aa;
}

.content-section .mark-btn button:last-child {
  width: auto;
  background-color: rgb(228, 216, 216);
}

.content-section .mark-btn button:last-child span {
  display: none;
}

.content-section.normal-content {
  margin-top: 0;
}
.content-section.normal-content .stats {
  width: 100%;
  display: flex;
}
.content-section.normal-content h2 {
  color: #000;
  font-family: "Commissioner", sans-serif;
  font-weight: bolder;
  text-align: center;
  display: block;
  width: 100%;
}
.content-section.normal-content h2 span {
  color: #c4afaf;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  width: 100%;
  padding-top: 0.5em;
}
.content-section.normal-content > hr {
  width: 30%;
  border: none;
  border-top: 0.1px solid rgba(219, 210, 210, 0.692);
  background-color: transparent;
}

.content-section.normal-content .progress {
  width: 90%;
  position: relative;
  height: 20px;
  margin: auto;
  margin-bottom: 1em;
  background-color: #ebe5e5;
  border-radius: 30px;
}
.content-section.normal-content .progress::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 20px;
  background-color: #3bb4ad;
  border-radius: 30px;
}
.content-section.about h2,
.content-section.about p {
  text-align: left;
  line-height: 1.5;
}

.content-section.about .about-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-top: 1em;

  padding: 1em;
  border: 1px solid rgba(66, 62, 62, 0.337);
  border-radius: 15px;
}

.content-section.about .about-inner h2 {
  font-size: 1rem;
  display: flex;
}

.content-section.about .about-inner h2 span {
  text-align: right;
  color: #3bb4ad;
}

.content-section.about .about-inner h2 {
  font-size: 1rem;
}

.content-section.about .about-inner .reward {
  width: 100%;

  padding: 2;
}

.content-section.about .about-inner .reward h4 {
  display: flex;
  margin-bottom: 0rem;
  align-items: center;
  color: black;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  text-align: left;

  font-size: 2.5rem;
}

.content-section.about .about-inner .reward h4 span {
  color: #998787;
  padding-left: 0.5em;

  font-size: 1rem;
}

.content-section.about .about-inner .reward button {
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  text-align: center;

  float: right;
  display: block;
  padding: 1.5em;

  width: 50%;
  border-radius: 30px;
  background-color: #3ab5aa;
  border: none;
}
.content-section.about .about-inner .reward .select {
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  text-align: center;
  float: right;
  display: block;
  padding: 1.5em;

  width: 50%;
  border-radius: 30px;
  background-color: #999b9b;
  border: none;
}

/* modal */

/* end modal */
@media only screen and (max-width: 375px) {
  .content-section .mark-btn {
    width: 100%;
  }
  .content-section .mark-btn button {
    border-radius: 20px;
  }
  .content-section .mark-btn button:first-child {
    font-size: 0.8rem;
    width: 50%;
    padding: 1.5em;
  }

  .content-section.normal-content > hr {
    margin: 1rem;
  }
}
